@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #883838;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

p {
    text-align: justify;
    margin-top: 10px;
    color: #555;
    line-height: 1.6; /* Adjust line height for better readability */
    font-size: 10px;
}

h1 {
    text-align: center;
    color: #b22222;
    margin-bottom: 10px;
    font-size: 25px;
}

form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
    color: #555;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #ED2939;
    box-shadow: 0 4px #800000;
    font-family: 20px;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #B22222;
    box-shadow: 0 2px #CD5C5C;
}

form a.bth {
    display: block;
    text-align: center;
    margin-top: 0px;
    color: #fff; /* Text color */
    background-color: #ED2939; /* Background color - Red */
    box-shadow: 0 4px #800000; /* Box shadow - Dark Red */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

form a.bth:hover {
    background-color: #B22222; /* Hover color - Darker Red */
    box-shadow: 0 2px #CD5C5C; /* Hover box shadow - Darker Dark Red */
}

form p {
    font-size: 13px;
    color: #6b6b6b;
    text-align: center;
    text-align: justify;
    margin-top: 10px;
    line-height: 1.6; /* Adjust line height for better readability */
}

.reg {
    margin-top: 15px;
    text-decoration: underline;
}

.bth {
    font-size: 15px;
    display: block;
    text-align: center;
    margin-top: 8px;
    color: crimson;
    color: green;
    text-decoration: none;
}

.reg:hover {
    text-decoration: none;
    color: crimson;
}

.bth:hover {
    text-decoration: underline;
}

form .error-msg {
    margin: 10px 0;
    display: block;
    background: rgba(220, 20, 60, 0.858);
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    align-items: center;
}
