@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    font-family: 'Open Sans', Arial, sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
 }

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    /* background-color: #f0f0f0; */
    background-color: #883838;
    /* background-image: url('img/index.png'); */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}